* {
  box-sizing: inherit;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color: #000;
  background-color: #fff;
  font-size: 1rem;
}

.content__heading--intro h1.content__heading--intro {
  padding-bottom: 30px;
  text-align: center;
}

.content__heading--connect h1.content__heading--connect {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2.5rem;
  padding-bottom: 5px;
  margin: 20px 0 5px 0;
}

.content__heading--develop h1.content__heading--develop {
  font-size: 1.55rem;
  text-align: center;
  font-weight: 400;
}

.content__des {
  text-align: justify;
  margin-bottom: 20px;
  font-size: 1rem;
}

.content__des--intro {
  padding-bottom: 40px;
  font-weight: 300;
  font-size: 1.18rem;
  line-height: 1.7rem;
}

.content__des--connect {
  font-weight: 300;
  font-size: 1.18rem;
  line-height: 1.7rem;
  overflow: hidden;
}

.content__des--develop {
  text-align: center;
  padding: 5px 20px;
  font-size: 1rem;
  line-height: 1.7rem;
}

a.btn {
  padding: 10px 15px;
  border: 1px solid #000;
  border-radius: 10px;
  color: #000;
  text-decoration: none;
}

a.btn:hover {
  background-color: #3535a0;
  color: #ededf5;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 15px 0;
  box-shadow: 0 0 10px 0 #b9b4b4;
}

.header__logo {
  padding-top: 5px;
}

.header__logo img.header__logo-img {
  display: block;
  border: none;
  outline: none;
}

.header ul.nav__list {
  list-style: none;
  display: flex;
}

.header ul.nav__list li.nav__item {
  padding: 10px;
}

.header ul.nav__list li.nav__item a.nav__link {
  position: relative;
  text-decoration: none;
  color: #000;
  font-weight: 350;
}

.header ul.nav__list li.nav__item a.nav__link::after {
  position: absolute;
  width: 0%;
  background-color: #3838d2;
  height: 2px;
  content: "";
  left: 50%;
  top: 120%;
  transform: translate(-50%);
  transition: width 1s;
}

.header ul.nav__list li.nav__item a.nav__link:hover::after {
  width: 100%;
}

.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
  /* Caption text */
  /* Fading animation */
  /* On smaller screens, decrease text size */
}

.slideshow-container .prev,
.slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 20px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.slideshow-container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.slideshow-container .prev:hover,
.slideshow-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slideshow-container .text {
  color: #f2f2f2;
  font-size: 2rem;
  position: absolute;
  bottom: 40%;
  padding: 8px 12px;
  width: 100%;
  text-align: center;
}

.slideshow-container .active {
  background-color: #717171;
}

.slideshow-container .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 300px) {
  .slideshow-container .prev,
  .slideshow-container .next,
  .slideshow-container .text {
    font-size: 11px;
  }
}

.intro {
  max-width: 1200px;
  margin: 0 auto;
}

.two-col {
  padding: 40px 0 30px;
  display: flex;
  justify-content: space-between;
}

.two-col--connect {
  padding-top: 5px;
}

.two-col__col {
  width: 49%;
}

.two-col__col img.intro-img {
  width: 100%;
  display: block;
}

.two-col__col--connect img.connect-img {
  display: block;
  width: 90%;
  margin: auto;
}

.connect {
  max-width: 1200px;
  margin: 0 auto 20px;
}

.project {
  position: relative;
  width: 100%;
  background-image: url("https://yoshigroup.jp/wp-content/uploads/2019/06/business-01.jpg");
  background-attachment: fixed;
  display: flex;
  height: 200px;
  background-position: center;
  background-size: cover;
  margin-bottom: 20px;
}

.project::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(49, 47, 47, 0.4);
}

.project__text {
  position: relative;
  color: #fff;
  margin: auto;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 300;
}

.develop {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.develop__item {
  box-shadow: 2px 2px 6px 4px rgba(0, 0, 0, 0.3);
  flex-basis: 32%;
}

.develop__item img.develop-img {
  display: block;
  max-width: 100%;
}

.whyUs {
  padding: 30px 0;
  max-width: 1200px;
  margin: 0 auto;
}

.company-image {
  width: 1200px;
  margin: auto;
  padding-bottom: 20px;
}

.company-image__heading {
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.company-image__owl-carousel .owl-itema {
  padding: 10px;
}

.footer {
  background-color: #0D71CB;
  width: 100%;
  padding-bottom: 30px;
}

.footer__box {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer__col {
  padding-top: 30px;
  flex-basis: 25%;
}

.footer__col-heading {
  font-size: 1.7rem;
  font-weight: 400;
}

.footer__col-item {
  padding: 1px 0;
  font-size: 1.1rem;
}

.footer ul.footer__col-list {
  padding-left: 15px;
}

.footer ul.footer__col-list a.footer__col-link {
  text-decoration: none;
  color: #fff;
}

.footer__qrcode {
  padding-top: 30px;
  flex-basis: 25%;
}

.footer__qrcode-heading {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 400;
}

.footer__qrcode img.footer__qrcode-img {
  display: block;
  width: 50%;
  margin: 0 auto;
}

.footer__copyright {
  text-align: center;
  background-color: black;
  width: 100%;
  color: white;
  padding: 10px 0;
}
