* {
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.container {
  width: 1500px;
  margin: 0 auto; }

.header {
  width: 100vw;
  background-color: white;
  z-index: 999;
  box-shadow: 0 0 10px 0 #b9b4b4; }
  .header__box {
    padding: 20px 5px;
    margin: 0 260px;
    display: flex;
    justify-content: space-evenly; }
  .header__logo {
    padding-left: 20px; }
  .header__nav {
    padding-right: 20px; }
    .header__nav ul.header__nav {
      list-style-type: none; }
    .header__nav li.header__nav-item {
      display: inline;
      position: relative;
      margin: 5px 10px; }
      .header__nav li.header__nav-item a {
        text-decoration: none;
        color: black;
        font-size: 0.9rem;
        font-weight: 400;
        padding-bottom: 5px; }
      .header__nav li.header__nav-item a::after {
        position: absolute;
        width: 0%;
        background-color: #3838d2;
        height: 2px;
        content: "";
        left: 50%;
        top: 120%;
        transform: translate(-50%);
        transition: width 1s; }
      .header__nav li.header__nav-item a:hover::after {
        width: 100%; }

.banner {
  margin-bottom: 20px;
  width: 100%;
  /* Slideshow container */
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
  /* Caption text */
  /* Fading animation */
  /* On smaller screens, decrease text size */ }
  .banner .slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto; }
  .banner .prev,
  .banner .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 20px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none; }
  .banner .next {
    right: 0;
    border-radius: 3px 0 0 3px; }
  .banner .prev:hover,
  .banner .next:hover {
    background-color: rgba(0, 0, 0, 0.8); }
  .banner .text {
    color: #f2f2f2;
    font-size: 2rem;
    position: absolute;
    bottom: 40%;
    padding: 8px 12px;
    width: 100%;
    text-align: center; }
  .banner .active {
    background-color: #717171; }
  .banner .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }
  @media only screen and (max-width: 300px) {
    .banner .prev,
    .banner .next,
    .banner .text {
      font-size: 11px; } }

.content {
  width: 100vw;
  margin-bottom: 20px; }
  .content__box {
    padding-top: 10px;
    margin: 0 260px; }
    .content__box--project {
      margin: 0;
      padding: 0; }
  .content__heading {
    padding-bottom: 50px; }
    .content__heading h1 {
      margin: 0;
      text-align: center; }
    .content__heading--connect {
      padding-top: 40px;
      padding-bottom: 20px; }
      .content__heading--connect h1 {
        font-size: 2.4rem;
        font-weight: 350;
        text-transform: uppercase;
        text-align: left; }
    .content__heading--project {
      padding-top: 10px;
      padding-bottom: 10px; }
      .content__heading--project h1 {
        font-size: 1.6rem;
        font-weight: 390;
        margin: 0;
        text-align: center; }
    .content__heading--why-us h1 {
      margin-bottom: 10px;
      text-transform: uppercase;
      font-size: 1.8rem;
      text-align: center; }
    .content__heading--introPage h1 {
      text-align: left;
      font-size: 1.5rem;
      font-weight: 10px; }
    .content__heading--companyPage h1 {
      text-align: left;
      font-size: 1.5rem;
      font-weight: 10px; }
  .content__des {
    text-align: justify;
    margin: 0;
    padding-bottom: 50px;
    font-size: 1rem;
    line-height: 1.5em; }
    .content__des--connect {
      margin-bottom: 20px;
      overflow: hidden; }
    .content__des--project {
      padding: 10px;
      text-align: center; }
    .content__des--why-us {
      padding: 35px 0;
      font-size: 1.1rem;
      font-weight: 300; }
    .content__des--companyPage {
      line-height: 2em;
      font-size: 1.2rem; }
  .content a.content__btn {
    padding: 5px 10px;
    border: 1px solid #464343;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem; }
  .content a.content__btn:hover {
    background-color: #4444db;
    color: white; }

.two-column {
  margin-bottom: 20px;
  margin: 0 260px; }
  .two-column--content {
    margin: 0; }
  .two-column__box {
    display: flex;
    padding-top: 30px;
    justify-content: space-between; }
  .two-column__column {
    flex: 1;
    display: block;
    width: 50%; }
    .two-column__column--connect {
      padding: 5px 80px 5px; }
  .two-column img {
    display: block;
    width: 100%; }
  .two-column img.connect {
    display: block;
    width: 420px;
    margin: auto; }

.connect-content {
  margin: 0; }

.project {
  margin-bottom: 20px; }
  .project__banner {
    margin-bottom: 20px;
    height: 200px;
    background-image: url("https://yoshigroup.jp/wp-content/uploads/2019/06/business-01.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    position: relative; }
    .project__banner-layer {
      content: "";
      position: absolute;
      width: 100%;
      height: 200px;
      background-color: rgba(0, 0, 0, 0.4); }
    .project__banner-text {
      text-transform: uppercase;
      margin: auto;
      width: 350px;
      padding: 80px 5px 0;
      font-size: 2.5rem;
      color: white; }
  .project__box {
    margin: 0 260px;
    background-color: white; }
    .project__box--newsPage {
      margin: 0; }
  .project__item {
    margin: 0 15px;
    float: left;
    border: none;
    width: 30%;
    box-shadow: 0 0 10px #888888; }
  .project__item:hover {
    transform: translateY(-3%);
    transition: all 0.3s ease-in; }
  .project__item-head {
    height: 190px; }
    .project__item-head img {
      display: block;
      width: 100%; }

.company-image {
  margin-bottom: 20px; }
  .company-image__box {
    margin: 0 260px; }
  .company-image__heading {
    text-transform: uppercase;
    font-size: 1.5rem; }
  .company-image__owl-carousel .owl-itema {
    padding: 10px; }

.footer {
  background-color: #0d71c3;
  color: black; }
  .footer__box {
    margin: 0 260px;
    padding-bottom: 30px; }
  .footer__column {
    padding-top: 30px;
    width: 25%;
    float: left;
    font-size: 1rem; }
    .footer__column-head {
      margin: 0;
      font-size: 1.7rem; }
    .footer__column ul {
      margin: 0; }
      .footer__column ul li a {
        text-decoration: none;
        color: white; }
  .footer__qrcode {
    padding-top: 30px;
    float: left;
    width: 25%; }
    .footer__qrcode-heading {
      font-size: 1.7rem;
      text-align: center; }
    .footer__qrcode-img img {
      margin: auto;
      display: block;
      width: 50%;
      border: none; }
  .footer__copyright {
    text-align: center;
    background-color: black;
    width: 100%;
    color: white;
    padding: 10px 0; }

.breadcrum {
  margin-bottom: white; }
  .breadcrum__box {
    margin: 0 260px; }
  .breadcrum ul {
    padding: 10px 0px;
    list-style: none; }
    .breadcrum ul li {
      display: inline;
      font-size: 18px; }
      .breadcrum ul li a {
        color: #0275d8;
        text-decoration: none; }
      .breadcrum ul li a:hover {
        color: #01447e;
        text-decoration: underline; }
    .breadcrum ul li + li:before {
      padding: 8px;
      color: black;
      content: "/\00a0"; }

.map {
  margin-bottom: 20px; }

.formContact {
  width: 500px;
  margin: auto;
  margin-bottom: 20px; }
  .formContact__heading h1 {
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    font-size: 2rem; }
  .formContact__name {
    font-size: 1rem; }
  .formContact input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid gray;
    margin: 8px 0 20px 0; }
  .formContact textarea {
    width: 100%;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 10px; }
  .formContact input[type="submit"] {
    background-color: #0d71c3;
    margin: auto;
    padding: 10px;
    font-size: 1rem;
    color: white;
    border-radius: 5px; }
  .formContact select {
    width: 100%;
    margin: 8px 0 20px 0;
    font-size: 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 40px;
    padding: 20px; }

.job__box {
  margin: 0 260px; }

.job__heading {
  border-bottom: 1px solid rgba(112, 108, 108, 0.1); }
  .job__heading h2 {
    text-align: left; }

.news__box {
  margin: 0 260px; }

.news__heading h1 {
  text-align: left; }
