//base color;
$color-text-primary: #000;
$color-background-primary: #fff;
$color-text-hover-box: rgb(237, 237, 245);
$color-background-hover-box: rgb(75, 75, 136);
$color-border-btn: #000;
$color-text-btn: #000;
$color-background-layer:  rgba(49, 47, 47, 0.4);

//header
$color-background-header: #fff;

//breadcrumb
$color-breadcrumb-link: #337ab7;

//banner 
$color-btn-banner: #fff;

//footer
$color-text-footer: #fff;
$color-background-footer: #0D71CB;
$color-link-footer:  #fff;

//===========Base class=============//

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    &--jobPage {
        display: block;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 10px;
    }
    // &--header {
    //     display: flex;
    //     justify-content: space-between;
    // }
    // &--develop {
    //     display: flex;
    //     justify-content: space-between;
    // }
    // &--footer {
    //     display: flex;
    //     justify-content: space-evenly;
    // }
}
.content {
    &__heading {
        h1.heading {
        }
        &--intro {
            h1.content__heading--intro {
                padding-bottom: 30px;
                text-align: center;;
            }
        }
        &--connect {
            h1.content__heading--connect {
                text-transform: uppercase;
                font-weight: 300;
                font-size: 2.5rem;
                padding-bottom: 5px;
                margin: 20px 0 5px 0;
            }
        }
        &--develop {
            h1.content__heading--develop {
                font-size: 1.55rem;
                text-align: center;
                font-weight: 400;
            }
        }
        &--introPage {
            h1.content__heading--introPage {
                font-size: 2.5rem;
                font-weight: 550;
                margin-bottom: 50px;
            }
        }
        &--companyPage {
            h1.content__heading--companyPage {
                font-size: 1.5rem;
                font-weight: 150px;
                margin-bottom: 50px;
            }
        }
        &--jobPage {
            h1.content__heading-jobPage {
                font-size: 1.7rem;
                font-weight: 300px;
            }
        }
    }
    &__des {
        text-align: justify;
        margin-bottom: 20px;
        font-size: 1rem;
        &--intro {
            padding-bottom: 40px;
            font-weight: 300;
            font-size: 1.18rem;
            line-height: 1.7rem;
        }
        &--connect {
            font-weight: 300;
            font-size: 1.18rem;
            line-height: 1.7rem;
            overflow: hidden;
        }
        &--develop {
            text-align: center;
            padding: 5px 20px;
            font-size: 1rem;
            line-height: 1.7rem;
        }
        &--companyPage {
            padding-bottom: 40px;
            font-weight: 300;
            font-size: 1.18rem;
            line-height: 1.7rem;
            a.companyPage-link {
                text-decoration: none;
            }
        }
    }
}
a.btn {
    width: 90px;
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid $color-border-btn;
    border-radius: 10px;
    color: $color-text-btn;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    &:hover {
        background-color: $color-background-hover-box;
        color: $color-text-hover-box;
        width: 95px;
        word-spacing: 5px;
    }
}
hr {
    display: block;
    border: 0;
    border-top: 1px solid #eee;
    max-width: 1200px;
    margin: 20px auto;

}


//==================base end===================
* { 
    box-sizing: inherit;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
//===============main content===============

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0; 
    color: $color-text-primary;
    background-color: $color-background-primary;
    font-size: 1rem;
}


.header {
    width: 100%;
    padding: 15px 0;
    box-shadow: 0 0 10px 0  rgb(185, 180, 180);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: $color-background-header;
    z-index: 3;
    &__logo {
        padding-top: 5px;
        img.header__logo-img {
            display: block;
            border: none;
            outline: none;
        }
    }
    ul.nav__list {
        list-style: none;
        display: flex;
        li.nav__item {
            padding: 10px;
            a.nav__link {
                position: relative;;
                text-decoration: none;
                color: $color-text-primary;
                font-weight: 350;
                &::after {
                    position: absolute;
                    width: 0%;
                    background-color: #3838d2;
                    // Độ rộng của thanh gạch dưới
                    height: 2px;
                    content: "";
                    // vị trí hiệu ứng bắt đầu là chính giữa thanh gạch dưới
                    left: 50%;
                    // thanh gạch dưới cách top đầu của link khoảng cách 120%
                    top: 120%;
                    // điểm kế tiếp của thanh gạch dưới
                    transform: translate(-50%);
                    // hiệu ứng chạy thanh ngang với độ nhanh 1 giây, biến đổi theo width
                    transition: width 1s;
                }
                &:hover::after {
                    width: 100%;
                }
            }
        }
    }

}
.banner_item {
    position: relative;
    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-color: $color-background-layer;
    }
}

.owl-nav {
    display: block;
    width: 100%;
    position: absolute;
    top: 30%;
    font-size: 10rem;
    margin-bottom: 20px;
    color: $color-btn-banner;
    
}

// Set Height cho banner
// .owl-carousel .owl-stage {
//     display: flex;
//     height: 550px;
//     background-color: rgba(0, 0, 0, 0.3);
// }

// .owl-banner .owl-carousel .owl-item img {
//     width: auto;
//     height: 100%;
// }

// Nút mũi tên trên banner
.owl-banner .owl-prev {
    float: left;
}
.owl-banner .owl-next {
    float: right;
}


.intro {
    max-width: 1200px;
    margin: 0 auto;
}
.two-col {
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    &--connect {
        padding-top: 5px;
    }
    &__col {
        width: 49%;
        img.intro-img {
            width: 100%;
            display: block;
        }
        &--connect {
            img.connect-img {
                display: block;
                width: 90%;
                margin: auto;
            }
        }
    }
}
.connect {
    max-width: 1200px;
    margin: 0 auto 20px;

}
.project {
    position: relative;
    width: 100%;
    background-image: url("https://yoshigroup.jp/wp-content/uploads/2019/06/business-01.jpg");
    background-attachment: fixed;
    display: flex;
    height: 200px;
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(49, 47, 47, 0.4);
    }
    &__text {
        position: relative;
        color: #fff;
        margin: auto;
        text-transform: uppercase;
        font-size: 2.5rem;
        font-weight: 300;
    }
}
.develop {
    margin-bottom: 20px;
    &__item {
        box-shadow: 2px 2px 6px 4px rgba(0, 0, 0, 0.3);
        flex-basis: 32%;
        transition: all 0.3s ease-in;
        img.develop-img{
            display: block;
            max-width: 100%;
        }
        &:hover {
            transform: translateY(-3%);  
        }
    }
}
.whyUs {
    padding: 30px 0;
    max-width: 1200px;
    margin: 0 auto;
}
.company-image {
    max-width: 1200px;
    margin: 20px auto;
    &__heading {
        padding-bottom: 10px;
        text-transform: uppercase;
        font-size: 1.5rem;
    }
    &__owl-carousel {
        .owl-itema {
            padding: 10px;
        }
    }
}
.footer {
    background-color: $color-background-footer;
    width: 100%;
    padding-bottom: 30px;
    &__box {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    &__col {
        padding-top: 30px;
        flex-basis: 25%;
    }
    &__col-heading {
        font-size: 1.7rem;
        font-weight: 400;
    }
    &__col-item {
        padding: 1px 0;
        font-size: 1.1rem;
    }
    ul.footer__col-list {
        padding-left: 15px;
        a.footer__col-link {
            text-decoration: none;
            color: $color-link-footer;
        }
    }
    &__qrcode {
        padding-top: 30px;
        flex-basis: 25%;
        &-heading{
            text-align: center;
            font-size: 1.7rem;
            font-weight: 400;
        }
        img.footer__qrcode-img {
            display: block;
            width: 50%;
            margin: 0 auto;
        }
    }
    &__copyright {
        text-align: center;
        background-color: black;
        width: 100%;
        color: white;
        padding: 10px 0;
    }
}
.banner-intro {
    max-width: 100%;
    img.banner-introPage {
        display: block;
        width: 100%;
    }
}
.breadcrumb {
    
    ul.breadcrumb-list {
        padding: 10px 0px;
        list-style: none;
        display: flex;
        margin-bottom: 20px;
        
        li {
            display: inline;
            font-size: 18px;
            color: $color-text-primary;
            a {
                color: $color-breadcrumb-link;
                text-decoration: none;
            }
            a:hover {
                color: $color-text-primary;
                text-decoration: none;
            }
        }
        li + li:before {
            padding: 8px;
            color: black;
            content: "/\00a0";
        }
    }
}
.news-heading {
    max-width: 1200px;
    margin: 0 auto;
    h1 {
        font-size: 1.7rem;
        font-weight: 300px;
    }
}

.formContact {
    max-width: 500px;
    margin: 0 auto;
    &__heading {
        h1 {
            text-transform: uppercase;
            font-weight: 400;
            text-align: center;
            font-size: 2rem;
        }
    }
    &__name {
        font-size: 1rem;
    }
    input[type="text"] {
        width: 100%;
        padding: 10px;
        font-size: 1rem;
        border-radius: 10px;
        border: 1px solid gray;
        margin: 8px 0 20px 0;
        outline: none;
    }
    textarea {
        width: 100%;
        font-size: 1rem;
        border-radius: 10px;
        border: 1px solid gray;
        padding: 10px;
        resize: none;
        outline: none;
    }
    input[type="submit"] {
        background-color: rgb(13, 113, 195);
        margin: 10px 35%;
        padding: 10px;
        font-size: 1rem;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        outline: none;
        width: 150px;
    }
    select {
        width: 104%;
        margin: 8px 0 20px 0;
        font-size: 1rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        height: 40px;
        padding: 20px;
        outline: none;
    }
}
.map {
    max-width: 100%;
}






