//color;
$color-text-primary: #000;
$color-background-primary: #fff;
$color-hover-box: rgb(237, 237, 245);
$color-background-hover-box: rgb(53, 53, 160);
* {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0; 
    color: $color-text-primary;
    background-color: $color-background-primary;
    font-size: 1rem;
}
//===========Base class=============//
.content {
    &__heading {
        h1.heading {
        }
        &--textCenter {
            text-align: center;
            h1.content__heading--paddingBottom {
                padding-bottom: 30px;
            }
        }

    }
    &__des {
        text-align: justify;
        margin-bottom: 20px;
        font-size: 1rem;
        &--intro {
            margin-bottom: 40px;
            font-weight: 300;
            font-size: 1.2rem;
            line-height: 1.7rem;
        }
    }
}
a.btn {
    padding: 10px 15px;
    border-radius: 10px;
    &:hover {
        background-color: $color-background-hover-box;
        color: $color-hover-box;
    }
}


//main content
.header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 15px 0;
    box-shadow: 0 0 10px 0  rgb(185, 180, 180);
    &__logo {
        padding-top: 5px;
        img.header__logo-img {
            display: block;
            border: none;
            outline: none;
        }
    }
    ul.nav__list {
        list-style: none;
        display: flex;
        li.nav__item {
            padding: 10px;
            a.nav__link {
                position: relative;;
                text-decoration: none;
                color: $color-text-primary;
                font-weight: 350;
                &::after {
                    position: absolute;
                    width: 0%;
                    background-color: #3838d2;
                    // Độ rộng của thanh gạch dưới
                    height: 2px;
                    content: "";
                    // vị trí hiệu ứng bắt đầu là chính giữa thanh gạch dưới
                    left: 50%;
                    // thanh gạch dưới cách top đầu của link khoảng cách 120%
                    top: 120%;
                    // điểm kế tiếp của thanh gạch dưới
                    transform: translate(-50%);
                    // hiệu ứng chạy thanh ngang với độ nhanh 1 giây, biến đổi theo width
                    transition: width 1s;
                }
                &:hover::after {
                    width: 100%;
                }
            }
        }
    }

}
.banner {
    width: 100%;
    /* Slideshow container */
    .slideshow-container {
        //width: 100%;
        position: relative;
        margin: auto;
    }

    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 20px;
        margin-top: -22px;
        color: black;
        font-weight: bold;
        font-size: 50px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    /* Caption text */
    .text {
        color: #f2f2f2;
        font-size: 2rem;
        position: absolute;
        bottom: 40%;
        padding: 8px 12px;
        width: 100%;
        text-align: center;
    }

    .active {
        background-color: #717171;
    }

    /* Fading animation */
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
        from {
            opacity: 0.4;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes fade {
        from {
            opacity: 0.4;
        }
        to {
            opacity: 1;
        }
    }

    /* On smaller screens, decrease text size */
    @media only screen and (max-width: 300px) {
        .prev,
        .next,
        .text {
            font-size: 11px;
        }
    }
}
.intro {
    max-width: 1200px;
    margin: 0 auto;
}
